[Desktop Entry]
Version=0.1.2015.05.14
Name=VaultKee
Comment=VaultKee is a an open source frontend to Vault for use as a password manager
Path=/usr/local/share/vaultkee
Exec=/usr/bin/python ./vaultkee.py
Icon=/usr/local/share/vaultkee/resources/icon_48.png
Terminal=false
Type=Application
Categories=Utility;Application;
